@import 'tailwindcss';
@import './author.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Applying the base regular font of the Author font family to the project */
@layer base{
    html{
        --font-sans:'Author', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji';
    }
}
/* Generic Stylings */
.user-form-bg{
    @apply bg-white shadow-xl rounded-2xl w-full max-w-md p-6 sm:p-8;
}
.full-bg-card{
    @apply bg-white shadow-xl rounded-2xl md:px-8 sm:px-6;
}
.bg-grad-1{
    @apply min-h-screen bg-gradient-to-br from-cyan-50 to-cyan-100 flex items-center justify-center p-4;
}
.bg-grad-2{
    @apply min-h-screen bg-gradient-to-br from-cyan-100 to-purple-300 gap-2;
}
.bg-grad-3{
    @apply min-h-screen bg-slate-700 text-white gap-2 p-4;
}
.heading-form-title{
    @apply text-3xl font-extrabold text-center text-zinc-800 mb-6;
}
.label-form{
    @apply  text-lg font-medium text-sky-900 mr-4;
}
.input-form{
    @apply w-full px-4 py-3 text-zinc-600 rounded-lg border border-purple-400;
}
.input-form-focus{
    @apply  focus:outline-teal-300 focus:ring-2 focus:ring-blue-500 focus:border-transparent transition;
}
.auth-btn{
    @apply w-45 bg-emerald-400 hover:bg-emerald-700 text-zinc-100 font-semibold py-3 rounded-lg shadow-md transition-all duration-200;
}
.input-blog-form{
    @apply text-lg rounded-sm border border-purple-400;
}
.input-blog-form-focus{
    @apply focus:outline-teal-300 focus:ring-2 focus:ring-blue-500 focus:border-transparent transition;
}
.submit-btn{
    @apply w-45 bg-purple-600 hover:bg-purple-700 text-white font-semibold py-3 rounded-lg shadow-md transition-all duration-200;

}
.update-blog-btn{
    @apply w-25 bg-yellow-300 hover:bg-yellow-400 text-black font-semibold py-3 rounded-lg shadow-md transition-all duration-200;

}
.delete-blog-btn{
    @apply w-25 bg-red-500 hover:bg-red-600 text-black font-semibold py-3 rounded-lg shadow-md transition-all duration-200;

}
.manage-sections-btn{
    @apply flex justify-self-end min-w-auto mb-5 bg-teal-500 hover:bg-teal-600 text-black font-semibold py-3 px-3 rounded-lg shadow-md transition-all duration-200;

}
.view-blog-btn{
    @apply w-25 bg-orange-400 hover:bg-orange-600 text-slate-900 font-semibold py-3 px-3 rounded-lg shadow-md transition-all duration-200;

}
.create-section-btn{
    @apply w-45 flex justify-self-center bg-green-600 hover:bg-green-700 text-white font-semibold py-3 px-3 rounded-lg shadow-md transition-all duration-200;

}
.preserve-whitespace{
    white-space: pre-wrap;
}
.heading{
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl;
}
.blog-card-bg{
    @apply bg-white rounded-lg w-full shadow-lg duration-500 hover:scale-105 hover:shadow-lg;
}
.blog-card-img{
    @apply w-full h-full object-cover;
}
.blog-card-content{
    @apply p-6 md:p-8 xl:p-10;
}
.blog-card-title{
    @apply text-2xl;
}
.msg-btn{
    @apply w-45 bg-purple-500 hover:bg-purple-700 text-zinc-100 font-semibold py-3 rounded-lg shadow-md transition-all duration-200;
}
