@media print{
  /* Printer Friendly Style Sheet */
  header, footer, .search-component{
    display: none;
  }
  .hero-img{
    max-width: 100%;
    height:auto;
    display: block;
    margin: 0 auto;
  }
  .images{
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 50vh;
    display: block;
    margin: 0 auto;
    object-fit: contain;
    /* page-break-inside:avoid; Depricated */
    break-inside:avoid;
  }
  .blog-section-container{
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: none;
    overflow: hidden;
  }
}
@page{

}